<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.sgonzalez.freepicross">

  <uses-permission android:name="android.permission.READ_PHONE_STATE" />

  <application
      android:name=".App"
      android:allowBackup="false"
      android:icon="@drawable/icon"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    <activity
        android:name=".presentation.menus.activity.TitleActivity"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".presentation.menus.activity.DashboardActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".presentation.game.activity.GameActivity"
        android:screenOrientation="portrait" />
    <activity
        android:name=".presentation.menus.ActivityTitle"
        android:label="@string/app_name"
        android:screenOrientation="portrait" />
    <activity
        android:name=".presentation.menus.ActivityOptions"
        android:label="@string/app_name"
        android:screenOrientation="portrait" />
    <activity
        android:name=".presentation.menus.ActivityLevels"
        android:label="@string/app_name"
        android:screenOrientation="portrait" />
    <activity
        android:name=".presentation.menus.ActivityScores"
        android:label="@string/app_name"
        android:screenOrientation="portrait" />
    <activity
        android:name=".presentation.menus.ActivityTutorial"
        android:label="@string/app_name"
        android:screenOrientation="portrait" />
    <activity
        android:name=".presentation.game.ActivityGame"
        android:label="@string/app_name"
        android:screenOrientation="portrait" />
  </application>

</manifest>
