<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="edu.upc.fib.freepicrosspfc">

  <uses-permission android:name="android.permission.READ_PHONE_STATE" />

  <application
      android:name="net.sgonzalez.freepicross.App"
      android:allowBackup="false"
      android:icon="@drawable/icon"
      android:label="@string/app_name"
      tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    <activity
        android:name="net.sgonzalez.freepicross.presentation.menus.ActivityTitle"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/CustomButton">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="net.sgonzalez.freepicross.presentation.menus.ActivityOptions"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/CustomButton" />
    <activity
        android:name="net.sgonzalez.freepicross.presentation.menus.ActivityLevels"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/CustomButton" />
    <activity
        android:name="net.sgonzalez.freepicross.presentation.menus.ActivityScores"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/CustomButton" />
    <activity
        android:name="net.sgonzalez.freepicross.presentation.menus.ActivityTutorial"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/CustomButton" />
    <activity
        android:name="net.sgonzalez.freepicross.presentation.game.ActivityGame"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/CustomButton" />
  </application>

</manifest>
